parameters:
	ignoreErrors:
		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/DTO/Order/OrderDTO.php

		-
			message: '#^Access to an undefined property App\\Exports\\ExportLineItemsV1\:\:\$data\.$#'
			identifier: property.notFound
			count: 4
			path: app/Exports/ExportLineItemsV1.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Http/Controllers/Api/V1/CustomersApiController.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Http/Controllers/Api/V1/ModelsApiController.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 4
			path: app/Http/Controllers/Api/V1/OrdersApiController.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/CreateInvoicesFromOrder.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/CreateOrderFromWp.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/CreateRefundInvoicesFromOrder.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/SetOrderPaid.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/SetPaymentIntentForEtsyOrder.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/SyncCustomerToExact.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Jobs/SyncInvoiceToExact.php

		-
			message: '#^Access to an undefined property App\\Models\\Manufacturer\:\:\$city_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Manufacturer.php

		-
			message: '#^Access to an undefined property App\\Models\\Manufacturer\:\:\$state_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Manufacturer.php

		-
			message: '#^Access to an undefined property App\\Models\\OrderQueue\:\:\$manufacturer_costs\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/OrderQueue.php

		-
			message: '#^Access to an undefined property App\\Models\\OrderQueue\:\:\$target_date\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/OrderQueue.php

		-
			message: '#^Access to an undefined property \$this\(App\\Nova\\CustomerShipment\)\:\:\$tracking_number\.$#'
			identifier: property.notFound
			count: 1
			path: app/Nova/CustomerShipment.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Nova/Filters/ManufacturerFilter.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Nova/Filters/MaterialFilter.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Nova/Filters/OrderQueueMaterialFilter.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Nova/Filters/OrderQueueOrderStatusFilter.php

		-
			message: '#^Access to an undefined static property static\(App\\Nova\\Manufacturer\\ManufacturerResource\)\:\:\$sort\.$#'
			identifier: staticProperty.notFound
			count: 2
			path: app/Nova/Manufacturer/ManufacturerResource.php

		-
			message: '#^Access to an undefined property \$this\(App\\Nova\\Manufacturer\\Shipment\)\:\:\$tracking_number\.$#'
			identifier: property.notFound
			count: 1
			path: app/Nova/Manufacturer/Shipment.php

		-
			message: '#^Access to an undefined property \$this\(App\\Nova\\ManufacturerShipment\)\:\:\$tracking_number\.$#'
			identifier: property.notFound
			count: 1
			path: app/Nova/ManufacturerShipment.php

		-
			message: '#^Access to an undefined static property static\(App\\Nova\\Resource\)\:\:\$sort\.$#'
			identifier: staticProperty.notFound
			count: 2
			path: app/Nova/Resource.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Nova/Settings/Billing/AddressSettings.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Nova/Settings/Shipping/DcSettings.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 2
			path: app/Services/Admin/OrdersService.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 2
			path: app/Services/Admin/OrdersService.php

		-
			message: '#^Call to protected static method refunds\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Services/Admin/UploadsService.php

		-
			message: '#^Called ''pluck'' on Laravel collection, but could have been retrieved as a query\.$#'
			identifier: larastan.noUnnecessaryCollectionCall
			count: 1
			path: app/Services/Etsy/EtsyVariationService.php

		-
			message: '#^Call to protected static method find\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Services/Exact/ExactOnlineService.php

		-
			message: '#^Call to protected static method create\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Services/Woocommerce/WoocommerceApiService.php

		-
			message: '#^Call to protected static method delete\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Services/Woocommerce/WoocommerceApiService.php

		-
			message: '#^Call to protected static method update\(\) of class Codexshaper\\WooCommerce\\Models\\Customer\.$#'
			identifier: staticMethod.protected
			count: 1
			path: app/Services/Woocommerce/WoocommerceApiService.php

		-
			message: '#^Call to protected static method update\(\) of class Codexshaper\\WooCommerce\\Models\\Order\.$#'
			identifier: staticMethod.protected
			count: 2
			path: app/Services/Woocommerce/WoocommerceApiService.php
